dot-config/nvim/bundle
dot-config/nvim/autoload
!/dot-config/nvim/autoload/onedark.vim

dot-config/ranger/* 
!/dot-config/ranger/commands.py
!/dot-config/ranger/rc.conf
!/dot-config/ranger/rifle.conf
!/dot-config/ranger/scope.sh
 
dot-config/vimb/*
!/dot-config/vimb/config
!/dot-config/vimb/README.md
!/dot-config/vimb/style.css

dot-config/rofi/*
!/dot-config/rofi/config.rasi
!/dot-config/rofi/scripts
!/dot-config/rofi/themes
 
dot-config/terminator/*
!/dot-config/terminator/config
 
tabbed/tabbed
tabbed/*.o
tabbed/xembed

st/st
st/*.o

dmenu/*.o
dmenu/dmenu
dmenu/stest
dmenu/scripts/*
!/dmenu/scripts/*.sh
!/dmenu/scripts/via
