
/* Hint mode color styling */ 
span[vimbhint^='label'] {
    background-color: #f2f0ec !important;
    border: 1px solid #2d2d2d !important;
    color: #2d2d2d !important;
    font: bold 11pt monospace !important;
    opacity: 1 !important;
    padding: .1em .4em !important;
    text-transform: uppercase !important;
}
span[vimbhint='label focus'] {
    font: bold 13pt monospace !important;
    color: #f90000 !important;
}
*[vimbhint^='hint'] {
    background-color: #fed37e !important;
}
*[vimbhint='hint focus'] {
    background-color: #61afef !important;
}


