* {
   
  darkBlue: #192bc2;
  blue: #3974ff;
  blue2: #247ba0;
  green: #00a676;
  red: #d33f49;
  purple: #5f4bb6;
  pink: #de0d92;
  purple2: #6665dd;
  accent:           #61AFEF;
  foreground: #e5e9f0;

  /* Icons background color */
  iconBackground: rgba(30, 33, 39, 100%);
  /*iconBackground: #282c34;*/
   
  /* Background color */
  background: rgba( 30, 33, 39, 0% );
  background-focus: #282828;
  foreground-list: #CEDDF3;
   
  text-white: #e8f1f2;
}
